@inherits LayoutComponentBase

<div class="page">

    <header class="top-nav">
        <NavMenu />
    </header>

    <main class="main">
        <article class="content">
            @Body
        </article>
    </main>

    <DxToastProvider HorizontalAlignment="HorizontalAlignment.Center"
                     VerticalAlignment="VerticalEdge.Top" />


</div>
