<nav class="nav-bar">
    <div class="nav-left">
        <a class="brand" href="">Planner</a>
    </div>

    <div class="nav-links">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
            Home
        </NavLink>

        <NavLink href="login" class="nav-link" Match="NavLinkMatch.All">
            Login
        </NavLink>
        <NavLink href="klanten" class="nav-link">
            Klanten
        </NavLink>

        <NavLink href="projecten" class="nav-link">
            Projecten
        </NavLink>

        <NavLink href="planner" class="nav-link">
            Planner
        </NavLink>

        <NavLink href="counter" class="nav-link">
            Counter
        </NavLink>

        <NavLink href="weather" class="nav-link">
            Weather
        </NavLink>
    </div>
</nav>

@code {
    // Als je geen hamburger-menu nodig hebt, mag dit zelfs helemaal weg
}
